In [2]:
import pandas as pd
dfp= pd.read_csv(r'Pizza.csv')

In [3]:
print(dfp)

                        id             dateAdded           dateUpdated  \
0     AVz3Y-7h3D1zeR_xDAqm  2017-06-30T05:05:40Z  2019-05-01T15:43:09Z
1     AVweGPFF_7pvs4fzAAzQ  2016-04-02T04:02:49Z  2019-05-01T15:27:50Z
2     AVwdRGa9_7pvs4fz4E3K  2016-03-03T18:39:49Z  2019-05-01T12:52:25Z
3     AVwdX4psIN2L1WUfvJB1  2016-03-29T05:08:59Z  2019-05-01T12:52:20Z
4     AVwdaeTtkufWRAb55pSH  2016-03-31T02:34:04Z  2019-05-01T12:50:45Z
...                    ...                   ...                   ...
9995  AVwdKXFYByjofQCxmIyZ  2016-03-21T00:12:46Z  2018-01-08T10:25:27Z
9996  AVwdKXFYByjofQCxmIyZ  2016-03-21T00:12:46Z  2018-01-08T10:25:27Z
9997  AVz6kzsQFcQ3k02bDhwQ  2017-06-30T19:56:11Z  2018-01-07T10:51:29Z
9998  AVz6kzsQFcQ3k02bDhwQ  2017-06-30T19:56:11Z  2018-01-07T10:51:29Z
9999  AVwdG9zTkufWRAb52Y2A  2015-10-23T01:57:27Z  2018-01-04T17:57:59Z

                    address  \
0          4203 E Kiehl Ave
1         25 E Camelback Rd
2           3703 Paxton Ave
3           30495 John R Rd
4          3600 Eastern Ave
...                     ...
9995      1126 E Lovejoy St
9996      1126 E Lovejoy St
9997         3641 E Main St
9998         3641 E Main St
9999  7460 W Lake Mead Blvd

                                             categories  \
0     Pizza,Restaurant,American restaurants,Pizza Pl...
1                         Pizza,Pizza Place,Restaurants
2                    Restaurant,Pizza Place,Restaurants
3          Pizza,Carry-out food,Pizza Place,Restaurants
4     Pizza,American restaurants,Pizza Place,Pizza e...
...                                                 ...
9995                                        Pizza Place
9996                                        Pizza Place
9997                            Pizza Place,Restaurants
9998                            Pizza Place,Restaurants
9999             Pizza Place,Restaurant,Fast Food,Pizza

                  primaryCategories             city country  \
0     Accommodation & Food Services         Sherwood      US
1     Accommodation & Food Services          Phoenix      US
2     Accommodation & Food Services       Cincinnati      US
3     Accommodation & Food Services  Madison Heights      US
4     Accommodation & Food Services        Baltimore      US
...                             ...              ...     ...
9995  Accommodation & Food Services          Buffalo      US
9996  Accommodation & Food Services          Buffalo      US
9997  Accommodation & Food Services    Saint Charles      US
9998  Accommodation & Food Services    Saint Charles      US
9999  Accommodation & Food Services        Las Vegas      US

                                              keys   latitude  ...  \
0         us/ar/sherwood/4203ekiehlave/-1051391616  34.832300  ...
1          us/az/phoenix/25ecamelbackrd/-727422936  33.509266  ...
2        us/oh/cincinnati/3703paxtonave/-619797122  39.144883  ...
3     us/mi/madisonheights/30495johnrrd/-874863116  42.516669  ...
4       us/md/baltimore/3600easternave/-1270965359  39.286630  ...
...                                            ...        ...  ...
9995       us/ny/buffalo/1126elovejoyst/1921210585  42.889759  ...
9996       us/ny/buffalo/1126elovejoyst/1921210585  42.889759  ...
9997     us/il/saintcharles/3641emainst/1336179832  41.921300  ...
9998     us/il/saintcharles/3641emainst/1336179832  41.921300  ...
9999    us/nv/lasvegas/7460wlakemeadblvd/330000776  36.196180  ...

      menus.currency                                     menus.dateSeen  \
0                USD  2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...
1                USD  2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...
2                USD  2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...
3                USD          2016-10-20T21:50:02Z,2016-03-29T05:08:59Z
4                USD                               2016-03-31T02:34:04Z
...              ...                                                ...
9995             USD  2017-12-11T12:44:00.000Z,2016-03-21T00:13:00.0...
9996             USD                           2017-12-11T12:44:00.000Z
9997             USD  2017-12-10T18:55:00.000Z,2017-10-28T21:52:00.000Z
9998             USD  2017-12-10T18:55:00.000Z,2017-10-28T21:52:00.000Z
9999             USD  2017-12-08T19:07:00.000Z,2017-10-28T22:35:00.000Z

                                      menus.description  \
0                                                   NaN
1                                                   NaN
2     a saucelessampcomma double cheese pizza with a...
3                                                   NaN
4                                                   NaN
...                                                 ...
9995                                                NaN
9996                                                NaN
9997                                                NaN
9998                                                NaN
9999                                                NaN

                                           menus.name                 name  \
0                                        Cheese Pizza   Shotgun Dans Pizza
1                                        Pizza Cookie     Sauce Pizza Wine
2                                        Pizza Blanca        Mios Pizzeria
3                                         Small Pizza  Hungry Howies Pizza
4                                           Pizza Sub     Spartan Pizzeria
...                                               ...                  ...
9995                                Super Steak Pizza   Carbone's Pizzeria
9996                      Large Cheese & 1 Item Pizza   Carbone's Pizzeria
9997  Individual 6" Pepperoni Stuffed Deep Dish Pizza     Giordano's Pizza
9998     Individual 6" Cheese Stuffed Deep Dish Pizza     Giordano's Pizza
9999                      King Arthur's Supreme Pizza    Round Table Pizza

     postalCode priceRangeCurrency priceRangeMin priceRangeMax province
0         72120                USD             0            25       AR
1         85012                USD             0            25       AZ
2         45209                USD             0            25       OH
3         48071                USD            25            40       MI
4         21224                USD             0            25       MD
...         ...                ...           ...           ...      ...
9995      14206                USD             0            25       NY
9996      14206                USD             0            25       NY
9997      60174                USD             0            25       IL
9998      60174                USD             0            25       IL
9999      89128                USD             0            25       NV

[10000 rows x 24 columns]

In [20]:
PromTminimo = dfp.priceRangeMin[dfp.country == 'US'].mean()
PromTmaximo = dfp.priceRangeMax[dfp.country == 'US'].mean()
TProm = (PromTminimo+PromTmaximo)/2

In [21]:
print('Ticket Minimo Promedio: '+ str(PromTminimo)+' USD')
print('Ticket Maximo Promedio: '+ str(PromTmaximo)+' USD')
print('Ticket Promedio: '+ str(TProm)+' USD')

Ticket Minimo Promedio: 4.6555 USD
Ticket Maximo Promedio: 27.7642 USD
Ticket Promedio: 16.20985 USD